{% extends 'tasks/base.html' %}
{% block body %}
{% if user.is_authenticated %}
<br>
    <div class="col-lg-offset-3 col-sm-6 col-lg-5">
        <div class="panel panel-default">
            <div class="panel-body">
              {%  if error_message  %}
                <p>{{ error_message }}</p>
              {% endif %}
              <form class="horizontal" action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% include 'tasks/form_template.html' %}
                  <div class="col-lg-offset-2">
                      <button type="submit" class="btn btn-success">Submit</button>
                  </div>
              </form>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}